@font-face {
  font-family: Elsie;
  src: url("../fonts/Elsie-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: HindVadodara;
  src: url("../fonts/HindVadodara-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: Electrolize;
  src: url("../fonts/Electrolize-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
