@font-face {
  font-family: Elsie;
  src: url("../fonts/Elsie-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: HindVadodara;
  src: url("../fonts/HindVadodara-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: Electrolize;
  src: url("../fonts/Electrolize-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

.trail {
  position: absolute;
  width: 5px;
  height: 5px;
  background: linear-gradient(90deg, #6a0dad, #b066ff);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  animation: fadeOut 0.5s ease-out forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}