---
import WorkCard from "./WorkCard.astro";
---

<section id="projects">
  <h2>Projects</h2>

  <div class="work-container">
    <WorkCard image="/sergiollanos.dev/allstate.png" title="Allstate" />
    <WorkCard image="/sergiollanos.dev/entryready.png" title="Entryready" />
    <WorkCard
      image="/sergiollanos.dev/zenbusiness-money.png"
      title="Zenbusiness"
    />
  </div>
  <div class="work-container">
    <WorkCard image="/sergiollanos.dev/whitepages.png" title="WhitePages" />
    <WorkCard image="/sergiollanos.dev/nissan.png" title="Nissan" />
    <WorkCard image="/sergiollanos.dev/bancolombia.png" title="Bancolombia" />
  </div>
</section>

<style>
  .work-container {
    display: flex;
    gap: 2rem;
    cursor: pointer;
  }

  section {
    padding: 1em;
    box-shadow: 0 8px 26px 0 rgba(22, 24, 26, 0.07);
  }
</style>
