---
const { image, title, url } = Astro.props;
---

<a href={url} target="_blank" rel="noopener noreferrer" class="work-card-link">
  <div class="work-card">
    <img
      class="image"
      src={image}
      alt="Allstate image"
      width="330px"
      height="180px"
    />
    <h1>{title}</h1>
  </div>
</a>
<style>
  .work-card-link {
    text-decoration: none;
  }
  .work-card {
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 12px;
    padding: 8px;
    align-items: center;
  }
  .work-card:hover {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  }
  .image {
    padding-bottom: 5px;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
  }
  h1 {
    font-family: Electrolize;
    margin: 0px;
    font-size: 2rem;
    font-weight: bold;
    color: black; /* Color inicial */
    transition: "background 0.5s ease, color 0.5s ease"; /* Suaviza el efecto */
  }

  h1:hover {
    color: transparent; /* Hace que el color del texto sea transparente */
    background: linear-gradient(90deg, #6a0dad, #b066ff);
    -webkit-background-clip: text; /* El fondo se recorta al texto */
    background-clip: text; /* Compatibilidad adicional */
  }
</style>
