---
import WorkCard from "./WorkCard.astro";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---

<section id="experience">
  <h2 class="experience-title">My Latests Works</h2>

  <div class="container">
    <div class="animation-container">
      <LottieAnimation
        src="/sergiollanos.dev/animation.json"
        autoplay="visible"
      />
    </div>
    <div class="images-container">
      <WorkCard
        url="https://roadside.allstate.com/"
        image="/sergiollanos.dev/allstate.png"
        title="Allstate"
      />
      <WorkCard
        url="https://entryready.io/"
        image="/sergiollanos.dev/entryready.png"
        title="Entryready"
      />
      <WorkCard
        url="https://www.zenbusiness.com/"
        image="/sergiollanos.dev/zenbusiness-money.png"
        title="Zenbusiness"
      />
    </div>
  </div>
  <div class="work-container">
    <WorkCard
      url="https://www.whitepages.com/"
      image="/sergiollanos.dev/whitepages.png"
      title="WhitePages"
    />
    <WorkCard
      url="https://www.nissanusa.com/shopping-tools/build-price"
      image="/sergiollanos.dev/nissan.png"
      title="Nissan"
    />
    <WorkCard
      url="https://www.bancolombia.com/personas"
      image="/sergiollanos.dev/bancolombia.png"
      title="Bancolombia"
    />
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .animation-container {
    width: 600px;
    height: 800px;
  }

  .images-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    cursor: pointer;
  }
  .work-container {
    display: flex;
    gap: 2rem;
    cursor: pointer;
  }

  section {
    padding: 2em;
    box-shadow: 0 8px 26px 0 rgba(22, 24, 26, 0.07);
  }
  .experience-title {
    margin-top: 0;
    cursor: default;
    font-size: 2em;
  }
</style>

<script type="module">
  import { colorText } from "/sergiollanos.dev/src/utils/colorText";

  document.addEventListener("DOMContentLoaded", () => {
    const title = document.querySelector(".experience-title");
    if (title) colorText(title);
  });
</script>
